.athan-panel {
  font-family: Lotus, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
	direction: rtl;
}

@media (prefers-color-scheme: light) {
  .athan-label {
    color: #000;
  }
  .prefs_s_action:hover {
    color: #000;
    border: none;
  }
}

@media (prefers-color-scheme: dark) {
  .athan-label {
    color: #fff;
  }
  .prefs_s_action:hover {
    color: #fff;
    border: none;
  }
}
